@charset "UTF-8";
/**
* Ultraligero Framework
* ---------------------
*
* Desarrollado por El Cultivo
* http://elcultivo.mx
*
*
*
* Usar ese archivo para customizar estilos
* 
*/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
* SET UP VARS
* -----------
*
* Antes de sobrescribir, ├®chale un ojo a este file
* Algunos estilos son f├ícilmente configurables 
* con s├│lo cambiando el valor de las variables en _config.scss
* 
*/
/**
* MIXINS
* ------
* Agrega aqu├¡ tus mixins
* 
*/
/**
*  Especificar la fuentes personalizada para el dise├▒o de la pagina
*	
*  @param string $font-family: nombre de la fuente
*  @param string $font-filename: nombre del origen (archivo) que contiene la fuente
*  @param string|number $font-weight: alto de la fuente. 
*  @param string $font-style: estilo de la fuente. 
*  @param string $font-stretch: anchura de la fuente. 
*/
/**
* Devuelve tama├▒o de fuente con line-height y margin bottom.
* 
* @param number $font-size: (req) tama├▒o de la fuente
* @param number $line-height: Alto de la interl├¡nea. Si no le pasas n├║mero lo calcula 
* @param bool/number $margin: Margen inferior. Si no le pasas n├║mero usa la interl├¡nea
*
* la funci├│n tamano se encuentra en el archivo _funciones.scss
*/
/**
*  imagen de fondo
* 
* @param string $file: nombre del origen (archivo) de la imagen
* @param string $type: formato (extensi├│n) de la imagen
* @param number $width: Ancho de la imagen
* @param number $height: Alto de la imagen
*/
/**
* MIXINS LOCALES
* ------
* Agrega aqu├¡ tus mixins locales
* 
*/
/**
*  filtro para mostrar la imagen dentro de los l├¡mites fondo
* 
* @param string $file: nombre del origen (archivo) de la imagen
* @param string $type: formato (extensi├│n) de la imagen
* @param number $width: Ancho de la imagen
* @param number $height: Alto de la imagen
*/
/**
*  Asigna el ancho a las columnas 
* 
* @param number $cols: numero de columnas 
* @param string|number $respond-to: ajuste del tama├▒o de las media queries
*
* la funci├│n cada_col se encuentra en el archivo _funciones.scss
*/
/**
* FUNCTIONS
* ---------
* Agrega aqu├¡ tus funciones 
* 
*/
/**
* Cu├ínto debe medir cada columna (unidad) 
*
* @param number $cuantas-cols: numero total de columnas 
* @return number porcentaje del ancho de columnas
*
* Se usa -1 por la primer columna a la que se le quita el margen izquierdo 
*/
/**
* Se usa en el Loop para crear todos los tama├▒os de columnas ej. .grade-12.column
*
* @param number $num: numero de la columna que se especifica
* @return number porcentaje del ancho de la columna que se especifica
*
*/
/**
* Cu├ínto debe medir cada cuadro (unidad)
*
* @param number $cuantas-cols: numero total de cuadros 
* @return number porcentaje del ancho de cuadros
*
* No se le resta porque todos tienen margen derecho
*/
/**
* Se usa en el Loop para crear todos los tama├▒os de cuadros ej. .grade-12.column
*
* @param number $num: numero de cuadro que se especifica  
* @return number porcentaje del ancho del cuadro que se especifica
*
*/
/**
* Calcula los margenes de la class centered
*
* @param number $num: numero de columna 
* @return number porcentaje del tama├▒o de la class centered
*
*/
/**
* Crea el estilo para crear los espacios a la izquierda
*
* @param number $num: numero de columna 
* @param boolean $first-child trigger agrenga un el margen de la ultima columna al caso seleccionado Por defecto false.
* @return number porcentaje del tama├▒o empujar columnas 
*
*/
/**
* Generador de tama├▒os en funci├│n de la base 
*
* @param number $ratio: el n├║mero de veces que quieres multiplicar la base
* @return number pixeles de referencia  
*
*/
/**
* Regresa el valor sin unidades
*
* @param number $num: valor a que se le quieran quitar las unidades 
* @return number valor sin unidades 
*
*/
/**
* Crea el nombre de las class de las columnas 
*
* @param number $number: numero de columna 
* @return string regresa las clases
*
*/
/**
* ESTILOS B├üSICOS 
* ---------------
*
* Estilos b├ísicos de ultraligero
* Ed├¡talos o sobreescr├¡belos
* 
*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
  *::selection {
    background: #F26C52; }
  *::-moz-selection {
    background: #F26C52; }

html {
  font-size: 16px; }

html, body {
  height: 100%; }

body {
  position: relative;
  font-family: "Myriad", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

strong {
  font-weight: bold; }

a {
  color: #C23350;
  text-decoration: none; }
  a:hover {
    color: #6D1E39; }

img {
  -ms-interpolation-mode: bicubic; }

.column img, .columns img {
  max-width: 100%; }

p {
  font-family: "Myriad", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333333; }
  p em {
    font-style: italic; }

ol {
  list-style: decimal;
  margin-left: 1.55em; }

ul {
  list-style: disc;
  margin-left: 1.1em; }

input, textarea {
  border: 1px solid #F1EAD2;
  padding-right: .5em;
  padding-left: .5em;
  -moz-appereance: none;
  -webkit-appearance: none;
  border-radius: 0; }
  input[type="submit"], textarea[type="submit"] {
    cursor: pointer; }

input[type="text"], input[type="password"], textarea {
  width: 100%; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border-color: #82fffb; }

form input[type="text"], form textarea, form input[type="password"] {
  font-family: "Myriad", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px; }
form input {
  height: 56px; }
form textarea {
  padding-top: 16px; }
form input[type="submit"] {
  margin-bottom: 96px; }

/**
* CLASES GLOBALES 
* ---------------
*
* Algunos elementos est├ín pre-estilisados
* Usa estas clases para esilizar men├║s, botones, etc
* Edita o sobreescribe lo que no te guste
* 
*/
.centrado {
  text-align: center; }

.derecha {
  text-align: right; }

.izquierda {
  text-align: left; }

.justificado {
  text-align: justify; }

.sin-mar-izq {
  margin-left: 0 !important; }

@media only screen and (max-width: 768px) {
  .medio-sin-mar-izq {
    margin-left: 0 !important; } }
@media only screen and (max-width: 568px) {
  .chico-sin-mar-izq {
    margin-left: 0 !important; } }
.sin-mar-der {
  margin-right: 0 !important; }

.sin-mar-btm {
  margin-bottom: 0 !important; }

.sin-pad-btm {
  padding-bottom: 0 !important; }

.boton {
  text-decoration: none;
  display: inline-block;
  padding: 16px 16px;
  font-size: 16px;
  line-height: 16px;
  background-color: #6D1E39;
  color: #F1EAD2;
  text-align: center;
  cursor: pointer; }
  .boton.chico {
    padding: 8px; }
  .boton.mediano {
    padding: 24px 32px 24px 32px;
    font-size: 24px; }
  .boton.grande {
    padding: 32px 40px 32px 40px;
    font-size: 32px; }
  .boton.redondeado {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px; }

.el-menu {
  width: 100%;
  z-index: 1000;
  height: 96px;
  display: table; }
  .el-menu ul {
    float: right;
    list-style-type: none; }
  .el-menu li {
    float: left;
    margin-left: 32px; }
    .el-menu li a {
      vertical-align: middle;
      display: table-cell;
      font-size: 32px;
      height: 96px; }
  .el-menu .logo {
    vertical-align: middle;
    display: table-cell;
    height: 96px; }
  .el-menu.fijo {
    position: fixed;
    display: none; }

/**
* LA RET├ìCULA
* -----------
*/
.row, .cuadricula {
  display: block;
  overflow: hidden;
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  position: relative; }
  .row .cuadricula, .row .row, .cuadricula .cuadricula, .cuadricula .row {
    min-width: 0;
    padding-left: 0;
    padding-right: 0; }

.row {
  width: 100%; }

.cuadricula {
  width: 101.5625%; }

@media only screen and (min-width: 1024px) {
  .cuadricula {
    padding-right: 0px; } }
.column, .columns, .cuadro {
  display: block;
  float: left;
  position: relative; }

.cuadro {
  margin-right: 1.5625%; }

.column, .columns {
  margin-left: 1.5625%; }

.column:first-child, .columns:first-child {
  margin-left: 0; }

.row .grande-1.columns {
  width: 6.90104%; }
.row .grande-2.columns {
  width: 15.36458%; }
.row .grande-3.columns {
  width: 23.82813%; }
.row .grande-4.columns {
  width: 32.29167%; }
.row .grande-5.columns {
  width: 40.75521%; }
.row .grande-6.columns {
  width: 49.21875%; }
.row .grande-7.columns {
  width: 57.68229%; }
.row .grande-8.columns {
  width: 66.14583%; }
.row .grande-9.columns {
  width: 74.60938%; }
.row .grande-10.columns {
  width: 83.07292%; }
.row .grande-11.columns {
  width: 91.53646%; }
.row .grande-12.columns {
  width: 100%; }

.cuadricula .grande-1.cuadro {
  width: 6.77083%; }
.cuadricula .grande-2.cuadro {
  width: 15.10417%; }
.cuadricula .grande-3.cuadro {
  width: 23.4375%; }
.cuadricula .grande-4.cuadro {
  width: 31.77083%; }
.cuadricula .grande-5.cuadro {
  width: 40.10417%; }
.cuadricula .grande-6.cuadro {
  width: 48.4375%; }
.cuadricula .grande-7.cuadro {
  width: 56.77083%; }
.cuadricula .grande-8.cuadro {
  width: 65.10417%; }
.cuadricula .grande-9.cuadro {
  width: 73.4375%; }
.cuadricula .grande-10.cuadro {
  width: 81.77083%; }
.cuadricula .grande-11.cuadro {
  width: 90.10417%; }
.cuadricula .grande-12.cuadro {
  width: 98.4375%; }

@media only screen and (max-width: 768px) {
  .row .medio-1.columns {
    width: 6.90104%; }
  .row .medio-2.columns {
    width: 15.36458%; }
  .row .medio-3.columns {
    width: 23.82813%; }
  .row .medio-4.columns {
    width: 32.29167%; }
  .row .medio-5.columns {
    width: 40.75521%; }
  .row .medio-6.columns {
    width: 49.21875%; }
  .row .medio-7.columns {
    width: 57.68229%; }
  .row .medio-8.columns {
    width: 66.14583%; }
  .row .medio-9.columns {
    width: 74.60938%; }
  .row .medio-10.columns {
    width: 83.07292%; }
  .row .medio-11.columns {
    width: 91.53646%; }
  .row .medio-12.columns {
    width: 100%; }

  .cuadricula .medio-1.cuadro {
    width: 6.77083%; }
  .cuadricula .medio-2.cuadro {
    width: 15.10417%; }
  .cuadricula .medio-3.cuadro {
    width: 23.4375%; }
  .cuadricula .medio-4.cuadro {
    width: 31.77083%; }
  .cuadricula .medio-5.cuadro {
    width: 40.10417%; }
  .cuadricula .medio-6.cuadro {
    width: 48.4375%; }
  .cuadricula .medio-7.cuadro {
    width: 56.77083%; }
  .cuadricula .medio-8.cuadro {
    width: 65.10417%; }
  .cuadricula .medio-9.cuadro {
    width: 73.4375%; }
  .cuadricula .medio-10.cuadro {
    width: 81.77083%; }
  .cuadricula .medio-11.cuadro {
    width: 90.10417%; }
  .cuadricula .medio-12.cuadro {
    width: 98.4375%; }

  .row .medio-12.columns {
    margin-bottom: 32px;
    margin-left: 0; } }
@media only screen and (max-width: 568px) {
  .row .chico-1.columns {
    width: 6.90104%; }
  .row .chico-2.columns {
    width: 15.36458%; }
  .row .chico-3.columns {
    width: 23.82813%; }
  .row .chico-4.columns {
    width: 32.29167%; }
  .row .chico-5.columns {
    width: 40.75521%; }
  .row .chico-6.columns {
    width: 49.21875%; }
  .row .chico-7.columns {
    width: 57.68229%; }
  .row .chico-8.columns {
    width: 66.14583%; }
  .row .chico-9.columns {
    width: 74.60938%; }
  .row .chico-10.columns {
    width: 83.07292%; }
  .row .chico-11.columns {
    width: 91.53646%; }
  .row .chico-12.columns {
    width: 100%; }

  .cuadricula .chico-1.cuadro {
    width: 6.77083%; }
  .cuadricula .chico-2.cuadro {
    width: 15.10417%; }
  .cuadricula .chico-3.cuadro {
    width: 23.4375%; }
  .cuadricula .chico-4.cuadro {
    width: 31.77083%; }
  .cuadricula .chico-5.cuadro {
    width: 40.10417%; }
  .cuadricula .chico-6.cuadro {
    width: 48.4375%; }
  .cuadricula .chico-7.cuadro {
    width: 56.77083%; }
  .cuadricula .chico-8.cuadro {
    width: 65.10417%; }
  .cuadricula .chico-9.cuadro {
    width: 73.4375%; }
  .cuadricula .chico-10.cuadro {
    width: 81.77083%; }
  .cuadricula .chico-11.cuadro {
    width: 90.10417%; }
  .cuadricula .chico-12.cuadro {
    width: 98.4375%; }

  .row .chico-12.columns {
    margin-bottom: 32px;
    margin-left: 0; } }
.row .grande-1.centered {
  margin-left: 46.54948%; }
.row .grande-2.centered {
  margin-left: 42.31771%; }
.row .grande-3.centered {
  margin-left: 38.08594%; }
.row .grande-4.centered {
  margin-left: 33.85417%; }
.row .grande-5.centered {
  margin-left: 29.6224%; }
.row .grande-6.centered {
  margin-left: 25.39063%; }
.row .grande-7.centered {
  margin-left: 21.15885%; }
.row .grande-8.centered {
  margin-left: 16.92708%; }
.row .grande-9.centered {
  margin-left: 12.69531%; }
.row .grande-10.centered {
  margin-left: 8.46354%; }
.row .grande-11.centered {
  margin-left: 4.23177%; }

@media only screen and (max-width: 768px) {
  .row .medio-1.centered {
    margin-left: 46.54948%; }
  .row .medio-2.centered {
    margin-left: 42.31771%; }
  .row .medio-3.centered {
    margin-left: 38.08594%; }
  .row .medio-4.centered {
    margin-left: 33.85417%; }
  .row .medio-5.centered {
    margin-left: 29.6224%; }
  .row .medio-6.centered {
    margin-left: 25.39063%; }
  .row .medio-7.centered {
    margin-left: 21.15885%; }
  .row .medio-8.centered {
    margin-left: 16.92708%; }
  .row .medio-9.centered {
    margin-left: 12.69531%; }
  .row .medio-10.centered {
    margin-left: 8.46354%; }
  .row .medio-11.centered {
    margin-left: 4.23177%; }
  .row .medio-12.centered {
    margin-left: 0 !important; } }
@media only screen and (max-width: 568px) {
  .row .chico-1.centered {
    margin-left: 46.54948%; }
  .row .chico-2.centered {
    margin-left: 42.31771%; }
  .row .chico-3.centered {
    margin-left: 38.08594%; }
  .row .chico-4.centered {
    margin-left: 33.85417%; }
  .row .chico-5.centered {
    margin-left: 29.6224%; }
  .row .chico-6.centered {
    margin-left: 25.39063%; }
  .row .chico-7.centered {
    margin-left: 21.15885%; }
  .row .chico-8.centered {
    margin-left: 16.92708%; }
  .row .chico-9.centered {
    margin-left: 12.69531%; }
  .row .chico-10.centered {
    margin-left: 8.46354%; }
  .row .chico-11.centered {
    margin-left: 4.23177%; }
  .row .chico-12.centered {
    margin-left: 0 !important; } }
.row .empuja-grande-1 {
  margin-left: 10.02604%; }
  .row .empuja-grande-1:first-child {
    margin-left: 8.46354%; }
.row .empuja-grande-2 {
  margin-left: 18.48958%; }
  .row .empuja-grande-2:first-child {
    margin-left: 16.92708%; }
.row .empuja-grande-3 {
  margin-left: 26.95313%; }
  .row .empuja-grande-3:first-child {
    margin-left: 25.39063%; }
.row .empuja-grande-4 {
  margin-left: 35.41667%; }
  .row .empuja-grande-4:first-child {
    margin-left: 33.85417%; }
.row .empuja-grande-5 {
  margin-left: 43.88021%; }
  .row .empuja-grande-5:first-child {
    margin-left: 42.31771%; }
.row .empuja-grande-6 {
  margin-left: 52.34375%; }
  .row .empuja-grande-6:first-child {
    margin-left: 50.78125%; }
.row .empuja-grande-7 {
  margin-left: 60.80729%; }
  .row .empuja-grande-7:first-child {
    margin-left: 59.24479%; }
.row .empuja-grande-8 {
  margin-left: 69.27083%; }
  .row .empuja-grande-8:first-child {
    margin-left: 67.70833%; }
.row .empuja-grande-9 {
  margin-left: 77.73438%; }
  .row .empuja-grande-9:first-child {
    margin-left: 76.17188%; }
.row .empuja-grande-10 {
  margin-left: 86.19792%; }
  .row .empuja-grande-10:first-child {
    margin-left: 84.63542%; }
.row .empuja-grande-11 {
  margin-left: 94.66146%; }
  .row .empuja-grande-11:first-child {
    margin-left: 93.09896%; }

@media only screen and (max-width: 768px) {
  .row .empuja-medio-1 {
    margin-left: 10.02604%; }
    .row .empuja-medio-1:first-child {
      margin-left: 8.46354%; }
  .row .empuja-medio-2 {
    margin-left: 18.48958%; }
    .row .empuja-medio-2:first-child {
      margin-left: 16.92708%; }
  .row .empuja-medio-3 {
    margin-left: 26.95313%; }
    .row .empuja-medio-3:first-child {
      margin-left: 25.39063%; }
  .row .empuja-medio-4 {
    margin-left: 35.41667%; }
    .row .empuja-medio-4:first-child {
      margin-left: 33.85417%; }
  .row .empuja-medio-5 {
    margin-left: 43.88021%; }
    .row .empuja-medio-5:first-child {
      margin-left: 42.31771%; }
  .row .empuja-medio-6 {
    margin-left: 52.34375%; }
    .row .empuja-medio-6:first-child {
      margin-left: 50.78125%; }
  .row .empuja-medio-7 {
    margin-left: 60.80729%; }
    .row .empuja-medio-7:first-child {
      margin-left: 59.24479%; }
  .row .empuja-medio-8 {
    margin-left: 69.27083%; }
    .row .empuja-medio-8:first-child {
      margin-left: 67.70833%; }
  .row .empuja-medio-9 {
    margin-left: 77.73438%; }
    .row .empuja-medio-9:first-child {
      margin-left: 76.17188%; }
  .row .empuja-medio-10 {
    margin-left: 86.19792%; }
    .row .empuja-medio-10:first-child {
      margin-left: 84.63542%; }
  .row .empuja-medio-11 {
    margin-left: 94.66146%; }
    .row .empuja-medio-11:first-child {
      margin-left: 93.09896%; }
  .row .empuja-medio-0 {
    margin-left: 0 !important; } }
@media only screen and (max-width: 568px) {
  .row .empuja-chico-1 {
    margin-left: 10.02604%; }
    .row .empuja-chico-1:first-child {
      margin-left: 8.46354%; }
  .row .empuja-chico-2 {
    margin-left: 18.48958%; }
    .row .empuja-chico-2:first-child {
      margin-left: 16.92708%; }
  .row .empuja-chico-3 {
    margin-left: 26.95313%; }
    .row .empuja-chico-3:first-child {
      margin-left: 25.39063%; }
  .row .empuja-chico-4 {
    margin-left: 35.41667%; }
    .row .empuja-chico-4:first-child {
      margin-left: 33.85417%; }
  .row .empuja-chico-5 {
    margin-left: 43.88021%; }
    .row .empuja-chico-5:first-child {
      margin-left: 42.31771%; }
  .row .empuja-chico-6 {
    margin-left: 52.34375%; }
    .row .empuja-chico-6:first-child {
      margin-left: 50.78125%; }
  .row .empuja-chico-7 {
    margin-left: 60.80729%; }
    .row .empuja-chico-7:first-child {
      margin-left: 59.24479%; }
  .row .empuja-chico-8 {
    margin-left: 69.27083%; }
    .row .empuja-chico-8:first-child {
      margin-left: 67.70833%; }
  .row .empuja-chico-9 {
    margin-left: 77.73438%; }
    .row .empuja-chico-9:first-child {
      margin-left: 76.17188%; }
  .row .empuja-chico-10 {
    margin-left: 86.19792%; }
    .row .empuja-chico-10:first-child {
      margin-left: 84.63542%; }
  .row .empuja-chico-11 {
    margin-left: 94.66146%; }
    .row .empuja-chico-11:first-child {
      margin-left: 93.09896%; }
  .row .empuja-chico-0 {
    margin-left: 0 !important; } }
@media only screen and (max-width: 768px) {
  .ret-5.ret-medio .ret-col.columns {
    width: 18.75%; } }
/**
* FUENTES
* -------
*/
@font-face {
  font-family: "Open";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#../fonts/OpenSans-Regular-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Open";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#../fonts/OpenSans-Bold-webfont") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Open";
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#../fonts/OpenSans-Italic-webfont") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }
/**
* TIPOGRAF├ìA
* ----------
*/
.tam-prin {
  font-size: 112px;
  line-height: 128px;
  margin-bottom: 128px; }

.tam-sec {
  font-size: 80px;
  line-height: 96px; }

.tam-ter {
  font-size: 48px;
  line-height: 80px; }
  .tam-ter p, .tam-ter ul, .tam-ter ol {
    font-size: 48px;
    line-height: 80px;
    margin-bottom: 80px; }
  .tam-ter input, .tam-ter textarea {
    font-size: 48px;
    line-height: 80px;
    margin-bottom: 16px; }

.tam-cuat p {
  font-size: 32px;
  line-height: 80px;
  margin-bottom: 32px; }

.tam-min p, .tam-min ul, .tam-min ol {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 32px; }

/**
* SECCIONES
* -----------
*/
.seccion {
  padding-top: 176px;
  padding-bottom: 144px; }

.introduccion {
  background-color: #6D1E39;
  color: #F1EAD2; }
  .introduccion h1 {
    margin-bottom: 144px; }

.consulta {
  background-color: #00B5AF; }

.como-funciona {
  background-color: #333333; }
  .como-funciona .boton {
    background-color: #F26C52; }

.contacto {
  background-color: #6D1E39; }
  .contacto .contacto-form input, .contacto .contacto-form textarea {
    background-color: #6D1E39;
    color: #F1EAD2; }
    .contacto .contacto-form input[type="submit"], .contacto .contacto-form textarea[type="submit"] {
      color: #F1EAD2; }
    .contacto .contacto-form input::-webkit-input-placeholder, .contacto .contacto-form textarea::-webkit-input-placeholder {
      color: #F1EAD2; }
    .contacto .contacto-form input:-moz-placeholder, .contacto .contacto-form textarea:-moz-placeholder {
      color: #F1EAD2; }
    .contacto .contacto-form input::-moz-placeholder, .contacto .contacto-form textarea::-moz-placeholder {
      color: #F1EAD2; }
    .contacto .contacto-form input:-ms-input-placeholder, .contacto .contacto-form textarea:-ms-input-placeholder {
      color: #F1EAD2; }

/*# sourceMappingURL=ultraligero.css.map */
