/**
* Ultraligero Framework
* ---------------------
*
* Desarrollado por El Cultivo
* http://elcultivo.mx
* 
*/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.row {
  border: thin solid #DDD;
  width: 100%;
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 1.46484%;
  padding-right: 1.46484%; }
  .row .row {
    min-width: 0;
    padding-left: 0;
    padding-right: 0; }

.column, .columns {
  border: thin solid #998;
  margin-left: 1.46484%;
  float: left; }

.column:first-child, .columns:first-child {
  margin-left: 0; }

.row .one.column {
  width: 6.99056%; }
.row .one.columns {
  width: 6.99056%; }
.row .two.columns {
  width: 15.44596%; }
.row .three.columns {
  width: 23.90137%; }
.row .four.columns {
  width: 32.35677%; }
.row .five.columns {
  width: 40.81217%; }
.row .six.columns {
  width: 49.26758%; }
.row .seven.columns {
  width: 57.72298%; }
.row .eight.columns {
  width: 66.17839%; }
.row .nine.columns {
  width: 74.63379%; }
.row .ten.columns {
  width: 83.08919%; }
.row .eleven.columns {
  width: 91.5446%; }
.row .twelve.columns {
  width: 100%; }
