/**
* Ultraligero Framework
* ---------------------
*
* Desarrollado por El Cultivo
* http://elcultivo.mx
* 
*/

@charset "UTF-8";

@import "reset";

$gutter: 15;

$row-max-width: 1024px;
$min-device-width: 320px;

$base: 15;
$base-px: 15px;
$base-porcentaje: percentage($base-px / $row-max-width);
$cols: 12;

$break-small: 568px;
$break-medium: 768px;
$break-normal: 1024px;


@mixin border-sizing($box) {
	box-sizing: $box;
		-webkit-box-sizing: $box;
		-moz-box-sizing: $box;
}

@mixin respond-to($media) {
	@if $media == iPhone {
		@media only screen and (max-width: $break-small) { @content; }
	}
	@else if $media == iPadVer {
		@media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) { @content; }
	}
	@else if $media == iPadHor {
		@media only screen and (min-width: $break-medium + 1) and (max-width: $break-normal - 1) { @content; }
	}
	@else if $media == desktop {
		@media only screen and (min-width: $break-normal) { @content; }
	}
}


@function columns($num){
    @return (oneCol() * $num) + ($base-porcentaje * ($num - 1)); // (One column * 'x') + (gutter * ('x' - 1)) = Column Width
}

@function oneCol() {
    @return (100% - ($base-porcentaje * ($cols - 1))) / $cols;
}

@function sinUnidad($num) {
    @return ($num / ($num * 0 + 1));
}

// Create class names from column count integers
@function number-as-word($number){
  $w: "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten", "eleven",
"twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen",
"twenty", "twenty-one", "twenty-two", "twenty-three", "twenty-four", "twenty-five", "twenty-six", "twenty-seven",
"twenty-eight", "twenty-nine", "thirty", "thirty-one", "thirty-two", "thirty-three",
"thirty-four", "thirty-five", "thirty-six";
  @return nth($w, $number);
}

*{
	@include border-sizing(border-box);
}

body {
  position: relative;
}

html, body {
  height: 100%;
}


.row {
	border: thin solid #DDD;

	overflow: hidden;
	width: 100%;
	max-width: $row-max-width;
	min-width: $min-device-width;
	margin: 0 auto;
	padding-left: $base-porcentaje;
	padding-right: $base-porcentaje;
	.row {
		min-width: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.column, .columns {
	border: thin solid #998;

	margin-left: $base-porcentaje;
	float: left;

	// @include respond-to(iPhone) { background-color: red;}
	@include respond-to(iPadVer) { width: 100% !important; margin-left: 0;}
	// @include respond-to(iPadHor) { background-color: green; }
	// @include respond-to(desktop) { background-color: black; }
}

.column:first-child, .columns:first-child {
	margin-left: 0;
}

.row {
	@for $i from 1 through $cols{
		@if $i == 1 {
			.one.column {
				width: columns($i);
			}
		}
		.#{number-as-word($i)}.columns {
			width: columns($i);
		}
	}
}