/**
* Ultraligero Framework
* ---------------------
*
* Desarrollado por El Cultivo
* http://elcultivo.mx
* 
*/

@charset "UTF-8";

@import "reset";


/**
* SET UP VARS
* -----------
*/

$border-debug: false;

$gutter: 15;

$row-max-width: 1024px;
$min-device-width: 320px;

$base: 15;
$base-px: 15px;
$base-porcentaje: percentage($base-px / $row-max-width);
$cols: 12;
$cada-col: (100% - ($base-porcentaje * ($cols - 1))) / $cols;

$break-small: 568px;
$break-medium: 768px;
$break-normal: 1024px;

$color-destacado: #009393;
$color-destacado2: #005151;
$color-fondo: #f5f3dc;
$color-texto: #454550;
$color-principal: #f65828;
$color-claro: white;

$fuente-prin: Open, sans-serif;
//$fuente-sec: "Times New Roman", Times, serif;

/**
* MIXINS
* ------
*/

@mixin border-sizing($box) {
	box-sizing: $box;
		-webkit-box-sizing: $box;
		-moz-box-sizing: $box;
}

@mixin respond-to($media) {
	@if $media == iPhone {
		@media only screen and (max-width: $break-small) { @content; }
	}
	@else if $media == iPadVer {
		@media only screen and (max-width: $break-medium) { @content; }
	}
	@else if $media == iPadHor {
		@media only screen and (max-width: $break-normal) { @content; }
	}
}

@mixin declara-font-face($font-family, $font-filename, $font-weight: normal, $font-style: normal, $font-stretch: normal) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('#{$font-filename}.eot');
    	src: url('#{$font-filename}.eot?#iefix') format('embedded-opentype'),
         url('#{$font-filename}.woff') format('woff'),
         url('#{$font-filename}.ttf') format('truetype'),
         url('#{$font-filename}.svg##{$font-filename}') format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

/**
* FUNCTIONS
* ---------
*/

// Estilo de todas las columnas
@function columns($num){
    @return ($cada-col * $num) + ($base-porcentaje * ($num - 1)); // (One column * 'x') + (gutter * ('x' - 1)) = Column Width
}

// Calculate Centered Class Margins
@function centered($num) {
    @return 50% - ((($num * $cada-col) + (($num - 1) * $base-porcentaje)) / 2);
}

@function push_x($num, $first-child: false) {
	@if $first-child {
		@return ($cada-col * $num) + ($base-porcentaje * $num) ;
	}
	@else {
		@return ($cada-col * $num) + ($base-porcentaje * $num ) + $base-porcentaje;
	}
}


@function sinUnidad($num) {
    @return ($num / ($num * 0 + 1));
}

// Create class names from column count integers
@function number-as-word($number){
  $w: "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten", "eleven",
"twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen",
"twenty", "twenty-one", "twenty-two", "twenty-three", "twenty-four", "twenty-five", "twenty-six", "twenty-seven",
"twenty-eight", "twenty-nine", "thirty", "thirty-one", "thirty-two", "thirty-three",
"thirty-four", "thirty-five", "thirty-six";
  @return nth($w, $number);
}

/**
* ESTILOS GLOBALES
* ----------------
*/

*{@include border-sizing(border-box);}

html, body {height: 100%;}

body {position: relative; font-family: $fuente-prin;}

img {-ms-interpolation-mode: bicubic;}

.centrado{ text-align: center; }

/**
* FUENTES
* -------
*/

@include declara-font-face(Open, '../fonts/OpenSans-Regular-webfont');
@include declara-font-face(Open, '../fonts/OpenSans-Bold-webfont', bold);
@include declara-font-face(Open, '../fonts/OpenSans-Italic-webfont', normal, italic);	


/**
* LA RETÍCULA
* -----------
*/

.row {
	@if($border-debug){ border: thin solid #DDD; }

	overflow: hidden;
	width: 100%;
	max-width: $row-max-width;
	min-width: $min-device-width;
	margin: 0 auto;
	padding-left: $base-px;
	padding-right: $base-px;
	position: relative;
	.row {
		min-width: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

/* Las columnas */

.column, .columns {
	@if($border-debug){ border: thin solid #998; }

	margin-left: $base-porcentaje;
	float: left;
	position: relative;

	img{max-width:100%; height: auto;}

	// @include respond-to(iPhone) { background-color: red;}
	// @include respond-to(iPadVer) { width: 100% !important; margin-left: 0;}
	// @include respond-to(iPadHor) { background-color: green; }
	// @include respond-to(desktop) { background-color: black; }
}

// @include respond-to(iPadVer) {
// 	.ipad-break{
// 		width: 100% !important; margin-left: 0;
// 	}
// }

.column:first-child, .columns:first-child {
	margin-left: 0;
}
// Genera cada tamaño de columna
.row {
	@for $i from 1 through $cols{
		@if $i == 1 {
			.one.column {
				width: columns($i);
			}
		}
		.#{number-as-word($i)}.columns {
			width: columns($i);
		}
	}
}

// Columnas centradas
.row {
	@for $i from 1 through $cols - 1 {
		.#{number-as-word($i)}.centered {
			margin-left: centered($i);
		}
	}
}

// Push
.row {
	@for $i from 1 through $cols - 1 {
		.push_#{number-as-word($i)} {
			margin-left: push_x($i);
			&:first-child {
				margin-left: push_x($i, true);
			}
		}
	}
}

/**
* EL MENU
* -----------
*/
.el-menu{
	//ul { float: right; }
	li { float: left; margin-left: $base-px;  }
}


/**
* SECCIONES
* -----------
*/

.introduccion{
	background-color: $color-principal;
}
.consulta{
	background-color: $color-claro;
}
.como-funciona{
	background-color: $color-texto;
}
.contacto{
	background-color: $color-principal;
}