.home {
	@include clearfix;
	min-height: 100%;
	
	.body-gradient {
		@include clearfix;
		@include bg-gradient(blanco, purpura);
		height: 100%;
		padding: s();
	}
	
	.main-background {
		background-color: c(blanco);
	}

	.header {
		height: 242px;
	}

	.header-container {
		padding-bottom: s(2);	
	}

	.content {
		margin-bottom: s(9/2);
		padding-left: s(3/2, p);
		padding-right: s(3/2, p);
	}
	


}

@if $debug == true {
	.home {
		.header {
			background-color: c(aqua);
			
		}
	}

		.col-md-3, .col-md-6, .col-xs-12 {
			background-color: c(verdiazul);
			height: 500px;
		}

}