@import "_core";

@if map-get($theme, theme-name) != '_blank' {
	@error "ERROR: 
	ATTEMPTING TO MODIFY _blank THEME
	
	The _blank theme is only to be used as a boilerplate. If you intend to you the
	contents of this theme please copy the folder and rename it with the name of your
	theme. Do make sure to go to [your theme`s folder]/_theme.scss in the root of your
	new theme and update the theme-name field.
	
	IMPORTANT: While you are at it, it is  very strongly suggested that you create a new branch on git,
	with your theme name before proceeding, this way you will not be modifing any 
	other theme besides yours and you can be sure that any changes or additions to 
	the core will not be breaking anything."
}

@if map-get($core, version) !=  map-get($theme, core-version) {
	@error  "
	ERROR: 
	WRONG VERSION OF THE THEME
	Upsss, you are using the wrong version of the core. 
	This theme was created using version #{map-get($core, version)} of the core. 
	The version of your core is #{map-get($theme, core-version)}"
}

@if map-get($core, active-theme) != map-get($theme, theme-name) {
	@error "
	ERROR: 
	WRONG ACTIVE THEME
	The core you are using is not part of this theme. 
	Please update the active theme field in core/_core.scss before proceeding.
	
	IMPORTANT: It is  very strongly suggested that you create a new branch on git, 
	with your theme name before proceeding, this way you will not be modifing any 
	other theme besides yours and you can be sure that any changes or additions to 
	the core will not be breaking anything.
		
	Your actual theme name is: #{map-get($theme, theme-name)}.
	The active theme of the core is #{map-get($core, active-theme)}"
}
