$colors: (
	base:	#333333,
	aqua: #ddf6fb,
	blanco: #fff,
	crema: #fcf1d6,
	purpura: #d0c7de,
	verdiazul: #bbd3ca
	);

$colorForeground: black;
$colorBackground: white;
$colorFeatured: rgb(1, 170, 101);
$colorError: #8A1010;

@function c($color:base) {
	@return map-get($colors, $color);
}