$pads: (
	p: $base-px,
	pt: $base-px,
	pb: $base-px,
	pl: $base-px,
	pr: $base-px
	);

$margs: (
	m: $base-px,
	mt: $base-px,
	mb: $base-px,
	ml: $base-px,
	mr: $base-px
	);

$pads-margs: (pads:$pads, margs:$margs);

@function s($multiplier: 1, $spacing:'') {
	@if map-has-key($pads, $spacing) {
		@return map-get($pads, $spacing) * $multiplier;
	}
	@if map-has-key($margs, $spacing) {
		@return map-get($margs, $spacing) * $multiplier;
	}

	@return $base-px * $multiplier;
}

// Bootstrap
//Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         s();
