@charset "UTF-8";
.probando {
  content: "fin"; }

.algo {
  color: yellow; }

/**
* Test_Gulp
* ---------------------
*
* Desarrollado por El Cultivo
* http://elcultivo.mx
*
* Para desarrollar tu tema copia este folder y renómbralo con tu tema
* 
* 
* Hecho con la version
* @version 0.0.1
* del Mazorca Sass de El Cultivo
*
* @author El Cultivo
*/
/*
	Path to Core: "../../../core/"
 */
/**
* FUNCTIONS
* ---------
* Agrega aquí tus funciones 
* 
*/
/**
* Cuánto debe medir cada columna (unidad) 
*
* @param number $cuantas-cols: numero total de columnas 
* @return number porcentaje del ancho de columnas
*
* Se usa -1 por la primer columna a la que se le quita el margen izquierdo 
*/
/**
* Se usa en el Loop para crear todos los tamaños de columnas ej. .grade-12.column
*
* @param number $num: numero de la columna que se especifica
* @return number porcentaje del ancho de la columna que se especifica
*
*/
/**
* Cuánto debe medir cada cuadro (unidad)
*
* @param number $cuantas-cols: numero total de cuadros 
* @return number porcentaje del ancho de cuadros
*
* No se le resta porque todos tienen margen derecho
*/
/**
* Se usa en el Loop para crear todos los tamaños de cuadros ej. .grade-12.column
*
* @param number $num: numero de cuadro que se especifica  
* @return number porcentaje del ancho del cuadro que se especifica
*
*/
/**
* Calcula los margenes de la class centered
*
* @param number $num: numero de columna 
* @return number porcentaje del tamaño de la class centered
*
*/
/**
* Crea el estilo para crear los espacios a la izquierda
*
* @param number $num: numero de columna 
* @param boolean $first-child trigger agrenga un el margen de la ultima columna al caso seleccionado Por defecto false.
* @return number porcentaje del tamaño empujar columnas 
*
*/
/**
* Generador de tamaños en función de la base 
*
* @param number $ratio: el número de veces que quieres multiplicar la base
* @return number pixeles de referencia  
*
*/
/**
* Regresa el valor sin unidades
*
* @param number $num: valor a que se le quieran quitar las unidades 
* @return number valor sin unidades 
*
*/
/**
* Crea el nombre de las class de las columnas 
*
* @param number $number: numero de columna 
* @return string regresa las clases
*
*/
/*
* Mixins that should go before the "config/_config" file
 */
/**
 *	Mixins Index:
 *		Inserting Content
 *		Objects
 *		Positioning
 *		Responsive
 *		Styling
 *		Transitions
 *
 */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 *
 *@author 	Nicolas Gallagher
 *@url 		http://nicolasgallagher.com/micro-clearfix-hack/
 * 
 */
/**
* MIXINS
* ------
* Agrega aquí tus mixins
* 
*/
/**
*  Especificar la fuentes personalizada para el diseño de la pagina
*	
*  @param string $font-family: nombre de la fuente
*  @param string $font-filename: nombre del origen (archivo) que contiene la fuente
*  @param string|number $font-weight: alto de la fuente. 
*  @param string $font-style: estilo de la fuente. 
*  @param string $font-stretch: anchura de la fuente. 
*/
/**
*  imagen de fondo
* 
* @param string $file: nombre del origen (archivo) de la imagen
* @param string $type: formato (extensión) de la imagen
* @param number $width: Ancho de la imagen
* @param number $height: Alto de la imagen
*/
/**
* MIXINS LOCALES
* ------
* Agrega aquí tus mixins locales
* 
*/
/**
*  filtro para mostrar la imagen dentro de los límites fondo
* 
* @param string $file: nombre del origen (archivo) de la imagen
* @param string $type: formato (extensión) de la imagen
* @param number $width: Ancho de la imagen
* @param number $height: Alto de la imagen
*/
/**
 * Set to true for -webkit-,-moz-appereance:none useful for editing radio buttons among other things
 * @param  {boolean} $boolean 
 * @return {property}      
 */
/**
 * Creates an @media block with the corresponding content.
 *
 * Used to generate the breaks in the fluid grid.
 * 
 * @param  {map || map key || string} $break   Map with the names of breaks and their units or only the desired unit or the Map key.
 * @return {@media}      
 */
/**
 *	Mixins for:
 *		Debugging/Printing Vars
 *		Inserting Content
 *		Objects
 *		Positioning
 *		Responsive
 *		Styling
 *		Transitions
 *
 */
/*
* Creates css delimiters for breadcrumbs,
* links, or else.
*
* $delimiter	symbol
* 
*/
/*
* Position elements within a container: 
* e.g.: position(50%, 50%) will place 
* the element at the center of 
* the container
* 
* Note: It is necessary to add position:relative 
* to the parent container
* 
*/
/**
 * Absolutetly centers an element inside another that contains it.
 * Element will be centered either "vertically and horizontally", or only "vertically".
 *
 * Note that container element must have a position property different thatn "static".
 *
 * @param  {string} $XYorY 	String must be either 'xy' or 'y'. Else an error will be thrown.
 *
 * @return {css properties}     
 */
/**
 * An "@media" mixin that responds to a smaller-than-given screen width.
 *
 * 
 * @param  {map || map key || string} $break   Map with the names of breaks and their units or only the desired unit or the Map key.
 * 
 * @return {@media block}    
 */
/**
 * An "@media" mixin that responds to a bigger-than-given screen width.
 *
 * Same as the respond-to mixin.
 * 
 * @param  {map || map key || string} $break   Map with the names of breaks and their units or only the desired unit or the Map key.
 * 
 * @return {@media block}    
 */
/*
* Mixin for (almost completely) styling an input
*
*/
/*
* The various configuration files for the framework
*/
body, html {
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */ }
  body:before, body:after, html:before, html:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  body:after, html:after {
    clear: both; }
  body, html {
    *zoom: 1; }

/**
 * Declare fonts using the Mixin
 */
@font-face {
  font-family: "Frutiger";
  src: url("../fonts/MinionPro-Bold.eot");
  src: url("../fonts/MinionPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Bold.woff") format("woff"), url("../fonts/MinionPro-Bold.ttf") format("truetype"), url("../fonts/MinionPro-Bold.svg#../fonts/MinionPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Frutiger";
  src: url("../fonts/MinionPro-Bold.eot");
  src: url("../fonts/MinionPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Bold.woff") format("woff"), url("../fonts/MinionPro-Bold.ttf") format("truetype"), url("../fonts/MinionPro-Bold.svg#../fonts/MinionPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Minion";
  src: url("../fonts/MinionPro-Bold.eot");
  src: url("../fonts/MinionPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Bold.woff") format("woff"), url("../fonts/MinionPro-Bold.ttf") format("truetype"), url("../fonts/MinionPro-Bold.svg#../fonts/MinionPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Minion";
  src: url("../fonts/MinionPro-Bold.eot");
  src: url("../fonts/MinionPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Bold.woff") format("woff"), url("../fonts/MinionPro-Bold.ttf") format("truetype"), url("../fonts/MinionPro-Bold.svg#../fonts/MinionPro-Bold") format("svg");
  font-weight: bold;
  font-style: italic;
  font-stretch: normal; }
/**
 * Refer to fonts through variables
 */
/**
 * A Map containing the breakpoints used for the project, as weel as for generating the grid classes.
 *
 * The responsive mixins (respond-to, biggerThan and smallerThan) accept either the map keys, 
 * strings and variables, so there is no need to reference the map keys in any special way.
 *
 * Example of their use in a mixin: 
 * 		@include respond-to(medio) {
 * 		   //Your code
 * 		}
 * 
 * @type {map}
 */
/*
*   The Variables
*   Feel free to play with them!
*/
/*Set to "true" for -webkit-,-moz-appereance:none 
  useful for editing radio buttons amog other things*/
/*similar as above but for selects*/
/*  
*   If you need to style basic layout and stuff go to your 
*   "modules/_contactForm.scss" or similar file
*/
/*Input Elements' Params*/
input, textarea {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: initial;
  padding: 0 .5em; }

input, textarea {
  width: 100%; }

textarea {
  resize: vertical; }

input[type="submit"],
input[type="button"] {
  background-color: black;
  display: block; }

input[type="date"],
input[type="time"],
input[type="submit"],
input[type="button"] {
  width: auto; }

input::-webkit-datetime-edit {
  color: black; }

input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 1; }

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  padding: 0;
  height: 1rem;
  width: 1rem;
  vertical-align: text-top; }
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    background-color: black; }

input[type="radio"] {
  border-radius: 100%; }

select {
  cursor: pointer; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

::-webkit-input-placeholder {
  color: darkgrey; }

:-moz-placeholder {
  color: darkgrey; }

/* Firefox 18- */
::-moz-placeholder {
  color: darkgrey; }

/* Firefox 19+ */
:-ms-input-placeholder {
  color: darkgrey; }

/**
 * Grid configuration file
 *
 * For setting up the responsive breakpoints go to "config/_responsive".
 *
 * 
 */
/**
* Base Styles 
* ---------------
* Edítalos o sobreescríbelos
* 
*/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Super basic stylings
 * 
 */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

strong {
  font-weight: bold; }

img {
  -ms-interpolation-mode: bicubic; }

.column img, .columns img {
  max-width: 100%; }

p em {
  font-style: italic; }

/**
 * All helpers use the !important keyword, if ever necessary their 
 * output might be overriden with the !important keyword in a 
 * property located lower in the cascade.
 * 
 */
/**
 *	Helpers Index:
 *		Position
 *		Display
 *		Gutters
 *		Paddings and Margins
 *		JS Classes
 * 
 */
/*************************** Position ***************************/
.absolute {
  position: absolute !important; }

.relative {
  position: relative !important; }

.fixed {
  position: fixed !important;
  max-width: 100% !important;
  width: 100% !important;
  left: 0; }

@media only screen and (min-width: 800px) {
  .fixed-desktop {
    position: fixed !important;
    max-width: 100% !important;
    width: 100% !important;
    left: 0; } }

.left {
  float: left !important; }

.right {
  float: right !important; }

.top {
  top: 0 !important; }

.top56 {
  top: 56px; }

.ontop {
  z-index: 99 !important; }

.z-0 {
  z-index: 0 !important; }

/*************************** Display ***************************/
.d-bl {
  display: block !important; }

.inline {
  display: inline; }

/*************************** Gutters ***************************/
.gutter-r {
  padding-right: 8px !important; }

.gutter-l {
  padding-left: 8px !important; }

.gutter-rl {
  padding: 0 8px !important; }

/*************************** Paddings and Margins ***************************/
.p0 {
  padding: 0 !important; }

.pt {
  padding-top: 26px; }

.m0 {
  margin: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

/*************************** JS Classes ***************************/
.noScroll_JS {
  overflow: hidden !important; }

.divisor {
  border-bottom: 1px solid black;
  margin-bottom: 40px; }

/**
* The Fluid Grid
* -----------
*
* A percentage based grid (with responsive breaks). See "config/_grid" for adjusting the settings.
*/
.row, .cuadricula {
  display: block;
  overflow: hidden;
  max-width: 1068px;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative; }
  .row .cuadricula, .row .row, .cuadricula .cuadricula, .cuadricula .row {
    min-width: 0;
    padding-left: 0;
    padding-right: 0; }

.row {
  width: 100%; }

.cuadricula {
  width: 101.87266%; }

.columns, .cuadro {
  display: block;
  float: left;
  position: relative; }

.columns:first-child {
  margin-left: 0; }

@media only screen and (max-width: 600px) {
  .chico-1.cuadro {
    width: 6.46067%; }

  .empuja-chico-1.cuadro {
    margin-right: 10.36205%; }
    .empuja-chico-1.cuadro:first-child {
      margin-right: 8.48939%; }

  .chico-1.cuadro.centered {
    margin-right: 46.69164%; }

  .chico-2.cuadro {
    width: 14.79401%; }

  .empuja-chico-2.cuadro {
    margin-right: 18.85144%; }
    .empuja-chico-2.cuadro:first-child {
      margin-right: 16.97878%; }

  .chico-2.cuadro.centered {
    margin-right: 42.44694%; }

  .chico-3.cuadro {
    width: 23.12734%; }

  .empuja-chico-3.cuadro {
    margin-right: 27.34082%; }
    .empuja-chico-3.cuadro:first-child {
      margin-right: 25.46816%; }

  .chico-3.cuadro.centered {
    margin-right: 38.20225%; }

  .chico-4.cuadro {
    width: 31.46067%; }

  .empuja-chico-4.cuadro {
    margin-right: 35.83021%; }
    .empuja-chico-4.cuadro:first-child {
      margin-right: 33.95755%; }

  .chico-4.cuadro.centered {
    margin-right: 33.95755%; }

  .chico-5.cuadro {
    width: 39.79401%; }

  .empuja-chico-5.cuadro {
    margin-right: 44.3196%; }
    .empuja-chico-5.cuadro:first-child {
      margin-right: 42.44694%; }

  .chico-5.cuadro.centered {
    margin-right: 29.71286%; }

  .chico-6.cuadro {
    width: 48.12734%; }

  .empuja-chico-6.cuadro {
    margin-right: 52.80899%; }
    .empuja-chico-6.cuadro:first-child {
      margin-right: 50.93633%; }

  .chico-6.cuadro.centered {
    margin-right: 25.46816%; }

  .chico-7.cuadro {
    width: 56.46067%; }

  .empuja-chico-7.cuadro {
    margin-right: 61.29838%; }
    .empuja-chico-7.cuadro:first-child {
      margin-right: 59.42572%; }

  .chico-7.cuadro.centered {
    margin-right: 21.22347%; }

  .chico-8.cuadro {
    width: 64.79401%; }

  .empuja-chico-8.cuadro {
    margin-right: 69.78777%; }
    .empuja-chico-8.cuadro:first-child {
      margin-right: 67.91511%; }

  .chico-8.cuadro.centered {
    margin-right: 16.97878%; }

  .chico-9.cuadro {
    width: 73.12734%; }

  .empuja-chico-9.cuadro {
    margin-right: 78.27715%; }
    .empuja-chico-9.cuadro:first-child {
      margin-right: 76.40449%; }

  .chico-9.cuadro.centered {
    margin-right: 12.73408%; }

  .chico-10.cuadro {
    width: 81.46067%; }

  .empuja-chico-10.cuadro {
    margin-right: 86.76654%; }
    .empuja-chico-10.cuadro:first-child {
      margin-right: 84.89388%; }

  .chico-10.cuadro.centered {
    margin-right: 8.48939%; }

  .chico-11.cuadro {
    width: 89.79401%; }

  .empuja-chico-11.cuadro {
    margin-right: 95.25593%; }
    .empuja-chico-11.cuadro:first-child {
      margin-right: 93.38327%; }

  .chico-11.cuadro.centered {
    margin-right: 4.24469%; }

  .chico-12.cuadro {
    width: 98.12734%; }

  .empuja-chico-12.cuadro {
    margin-right: 103.74532%; }
    .empuja-chico-12.cuadro:first-child {
      margin-right: 101.87266%; }

  .chico-12.cuadro.centered {
    margin-right: 0%; } }
@media only screen and (max-width: 800px) {
  .medio-1.cuadro {
    width: 6.46067%; }

  .empuja-medio-1.cuadro {
    margin-right: 10.36205%; }
    .empuja-medio-1.cuadro:first-child {
      margin-right: 8.48939%; }

  .medio-1.cuadro.centered {
    margin-right: 46.69164%; }

  .medio-2.cuadro {
    width: 14.79401%; }

  .empuja-medio-2.cuadro {
    margin-right: 18.85144%; }
    .empuja-medio-2.cuadro:first-child {
      margin-right: 16.97878%; }

  .medio-2.cuadro.centered {
    margin-right: 42.44694%; }

  .medio-3.cuadro {
    width: 23.12734%; }

  .empuja-medio-3.cuadro {
    margin-right: 27.34082%; }
    .empuja-medio-3.cuadro:first-child {
      margin-right: 25.46816%; }

  .medio-3.cuadro.centered {
    margin-right: 38.20225%; }

  .medio-4.cuadro {
    width: 31.46067%; }

  .empuja-medio-4.cuadro {
    margin-right: 35.83021%; }
    .empuja-medio-4.cuadro:first-child {
      margin-right: 33.95755%; }

  .medio-4.cuadro.centered {
    margin-right: 33.95755%; }

  .medio-5.cuadro {
    width: 39.79401%; }

  .empuja-medio-5.cuadro {
    margin-right: 44.3196%; }
    .empuja-medio-5.cuadro:first-child {
      margin-right: 42.44694%; }

  .medio-5.cuadro.centered {
    margin-right: 29.71286%; }

  .medio-6.cuadro {
    width: 48.12734%; }

  .empuja-medio-6.cuadro {
    margin-right: 52.80899%; }
    .empuja-medio-6.cuadro:first-child {
      margin-right: 50.93633%; }

  .medio-6.cuadro.centered {
    margin-right: 25.46816%; }

  .medio-7.cuadro {
    width: 56.46067%; }

  .empuja-medio-7.cuadro {
    margin-right: 61.29838%; }
    .empuja-medio-7.cuadro:first-child {
      margin-right: 59.42572%; }

  .medio-7.cuadro.centered {
    margin-right: 21.22347%; }

  .medio-8.cuadro {
    width: 64.79401%; }

  .empuja-medio-8.cuadro {
    margin-right: 69.78777%; }
    .empuja-medio-8.cuadro:first-child {
      margin-right: 67.91511%; }

  .medio-8.cuadro.centered {
    margin-right: 16.97878%; }

  .medio-9.cuadro {
    width: 73.12734%; }

  .empuja-medio-9.cuadro {
    margin-right: 78.27715%; }
    .empuja-medio-9.cuadro:first-child {
      margin-right: 76.40449%; }

  .medio-9.cuadro.centered {
    margin-right: 12.73408%; }

  .medio-10.cuadro {
    width: 81.46067%; }

  .empuja-medio-10.cuadro {
    margin-right: 86.76654%; }
    .empuja-medio-10.cuadro:first-child {
      margin-right: 84.89388%; }

  .medio-10.cuadro.centered {
    margin-right: 8.48939%; }

  .medio-11.cuadro {
    width: 89.79401%; }

  .empuja-medio-11.cuadro {
    margin-right: 95.25593%; }
    .empuja-medio-11.cuadro:first-child {
      margin-right: 93.38327%; }

  .medio-11.cuadro.centered {
    margin-right: 4.24469%; }

  .medio-12.cuadro {
    width: 98.12734%; }

  .empuja-medio-12.cuadro {
    margin-right: 103.74532%; }
    .empuja-medio-12.cuadro:first-child {
      margin-right: 101.87266%; }

  .medio-12.cuadro.centered {
    margin-right: 0%; } }
@media only screen and (max-width: 1200px) {
  .grande-1.cuadro {
    width: 6.46067%; }

  .empuja-grande-1.cuadro {
    margin-right: 10.36205%; }
    .empuja-grande-1.cuadro:first-child {
      margin-right: 8.48939%; }

  .grande-1.cuadro.centered {
    margin-right: 46.69164%; }

  .grande-2.cuadro {
    width: 14.79401%; }

  .empuja-grande-2.cuadro {
    margin-right: 18.85144%; }
    .empuja-grande-2.cuadro:first-child {
      margin-right: 16.97878%; }

  .grande-2.cuadro.centered {
    margin-right: 42.44694%; }

  .grande-3.cuadro {
    width: 23.12734%; }

  .empuja-grande-3.cuadro {
    margin-right: 27.34082%; }
    .empuja-grande-3.cuadro:first-child {
      margin-right: 25.46816%; }

  .grande-3.cuadro.centered {
    margin-right: 38.20225%; }

  .grande-4.cuadro {
    width: 31.46067%; }

  .empuja-grande-4.cuadro {
    margin-right: 35.83021%; }
    .empuja-grande-4.cuadro:first-child {
      margin-right: 33.95755%; }

  .grande-4.cuadro.centered {
    margin-right: 33.95755%; }

  .grande-5.cuadro {
    width: 39.79401%; }

  .empuja-grande-5.cuadro {
    margin-right: 44.3196%; }
    .empuja-grande-5.cuadro:first-child {
      margin-right: 42.44694%; }

  .grande-5.cuadro.centered {
    margin-right: 29.71286%; }

  .grande-6.cuadro {
    width: 48.12734%; }

  .empuja-grande-6.cuadro {
    margin-right: 52.80899%; }
    .empuja-grande-6.cuadro:first-child {
      margin-right: 50.93633%; }

  .grande-6.cuadro.centered {
    margin-right: 25.46816%; }

  .grande-7.cuadro {
    width: 56.46067%; }

  .empuja-grande-7.cuadro {
    margin-right: 61.29838%; }
    .empuja-grande-7.cuadro:first-child {
      margin-right: 59.42572%; }

  .grande-7.cuadro.centered {
    margin-right: 21.22347%; }

  .grande-8.cuadro {
    width: 64.79401%; }

  .empuja-grande-8.cuadro {
    margin-right: 69.78777%; }
    .empuja-grande-8.cuadro:first-child {
      margin-right: 67.91511%; }

  .grande-8.cuadro.centered {
    margin-right: 16.97878%; }

  .grande-9.cuadro {
    width: 73.12734%; }

  .empuja-grande-9.cuadro {
    margin-right: 78.27715%; }
    .empuja-grande-9.cuadro:first-child {
      margin-right: 76.40449%; }

  .grande-9.cuadro.centered {
    margin-right: 12.73408%; }

  .grande-10.cuadro {
    width: 81.46067%; }

  .empuja-grande-10.cuadro {
    margin-right: 86.76654%; }
    .empuja-grande-10.cuadro:first-child {
      margin-right: 84.89388%; }

  .grande-10.cuadro.centered {
    margin-right: 8.48939%; }

  .grande-11.cuadro {
    width: 89.79401%; }

  .empuja-grande-11.cuadro {
    margin-right: 95.25593%; }
    .empuja-grande-11.cuadro:first-child {
      margin-right: 93.38327%; }

  .grande-11.cuadro.centered {
    margin-right: 4.24469%; }

  .grande-12.cuadro {
    width: 98.12734%; }

  .empuja-grande-12.cuadro {
    margin-right: 103.74532%; }
    .empuja-grande-12.cuadro:first-child {
      margin-right: 101.87266%; }

  .grande-12.cuadro.centered {
    margin-right: 0%; } }
@media only screen and (max-width: 1400px) {
  .extra-1.cuadro {
    width: 6.46067%; }

  .empuja-extra-1.cuadro {
    margin-right: 10.36205%; }
    .empuja-extra-1.cuadro:first-child {
      margin-right: 8.48939%; }

  .extra-1.cuadro.centered {
    margin-right: 46.69164%; }

  .extra-2.cuadro {
    width: 14.79401%; }

  .empuja-extra-2.cuadro {
    margin-right: 18.85144%; }
    .empuja-extra-2.cuadro:first-child {
      margin-right: 16.97878%; }

  .extra-2.cuadro.centered {
    margin-right: 42.44694%; }

  .extra-3.cuadro {
    width: 23.12734%; }

  .empuja-extra-3.cuadro {
    margin-right: 27.34082%; }
    .empuja-extra-3.cuadro:first-child {
      margin-right: 25.46816%; }

  .extra-3.cuadro.centered {
    margin-right: 38.20225%; }

  .extra-4.cuadro {
    width: 31.46067%; }

  .empuja-extra-4.cuadro {
    margin-right: 35.83021%; }
    .empuja-extra-4.cuadro:first-child {
      margin-right: 33.95755%; }

  .extra-4.cuadro.centered {
    margin-right: 33.95755%; }

  .extra-5.cuadro {
    width: 39.79401%; }

  .empuja-extra-5.cuadro {
    margin-right: 44.3196%; }
    .empuja-extra-5.cuadro:first-child {
      margin-right: 42.44694%; }

  .extra-5.cuadro.centered {
    margin-right: 29.71286%; }

  .extra-6.cuadro {
    width: 48.12734%; }

  .empuja-extra-6.cuadro {
    margin-right: 52.80899%; }
    .empuja-extra-6.cuadro:first-child {
      margin-right: 50.93633%; }

  .extra-6.cuadro.centered {
    margin-right: 25.46816%; }

  .extra-7.cuadro {
    width: 56.46067%; }

  .empuja-extra-7.cuadro {
    margin-right: 61.29838%; }
    .empuja-extra-7.cuadro:first-child {
      margin-right: 59.42572%; }

  .extra-7.cuadro.centered {
    margin-right: 21.22347%; }

  .extra-8.cuadro {
    width: 64.79401%; }

  .empuja-extra-8.cuadro {
    margin-right: 69.78777%; }
    .empuja-extra-8.cuadro:first-child {
      margin-right: 67.91511%; }

  .extra-8.cuadro.centered {
    margin-right: 16.97878%; }

  .extra-9.cuadro {
    width: 73.12734%; }

  .empuja-extra-9.cuadro {
    margin-right: 78.27715%; }
    .empuja-extra-9.cuadro:first-child {
      margin-right: 76.40449%; }

  .extra-9.cuadro.centered {
    margin-right: 12.73408%; }

  .extra-10.cuadro {
    width: 81.46067%; }

  .empuja-extra-10.cuadro {
    margin-right: 86.76654%; }
    .empuja-extra-10.cuadro:first-child {
      margin-right: 84.89388%; }

  .extra-10.cuadro.centered {
    margin-right: 8.48939%; }

  .extra-11.cuadro {
    width: 89.79401%; }

  .empuja-extra-11.cuadro {
    margin-right: 95.25593%; }
    .empuja-extra-11.cuadro:first-child {
      margin-right: 93.38327%; }

  .extra-11.cuadro.centered {
    margin-right: 4.24469%; }

  .extra-12.cuadro {
    width: 98.12734%; }

  .empuja-extra-12.cuadro {
    margin-right: 103.74532%; }
    .empuja-extra-12.cuadro:first-child {
      margin-right: 101.87266%; }

  .extra-12.cuadro.centered {
    margin-right: 0%; } }
@media only screen and (max-width: 600px) {
  .chico-1.columns {
    width: 6.46067%; }

  .empuja-chico-1.columns {
    margin-left: 10.36205%; }
    .empuja-chico-1.columns:first-child {
      margin-left: 8.48939%; }

  .chico-1.columns.centered {
    margin-left: 46.69164%; }

  .chico-2.columns {
    width: 14.79401%; }

  .empuja-chico-2.columns {
    margin-left: 18.85144%; }
    .empuja-chico-2.columns:first-child {
      margin-left: 16.97878%; }

  .chico-2.columns.centered {
    margin-left: 42.44694%; }

  .chico-3.columns {
    width: 23.12734%; }

  .empuja-chico-3.columns {
    margin-left: 27.34082%; }
    .empuja-chico-3.columns:first-child {
      margin-left: 25.46816%; }

  .chico-3.columns.centered {
    margin-left: 38.20225%; }

  .chico-4.columns {
    width: 31.46067%; }

  .empuja-chico-4.columns {
    margin-left: 35.83021%; }
    .empuja-chico-4.columns:first-child {
      margin-left: 33.95755%; }

  .chico-4.columns.centered {
    margin-left: 33.95755%; }

  .chico-5.columns {
    width: 39.79401%; }

  .empuja-chico-5.columns {
    margin-left: 44.3196%; }
    .empuja-chico-5.columns:first-child {
      margin-left: 42.44694%; }

  .chico-5.columns.centered {
    margin-left: 29.71286%; }

  .chico-6.columns {
    width: 48.12734%; }

  .empuja-chico-6.columns {
    margin-left: 52.80899%; }
    .empuja-chico-6.columns:first-child {
      margin-left: 50.93633%; }

  .chico-6.columns.centered {
    margin-left: 25.46816%; }

  .chico-7.columns {
    width: 56.46067%; }

  .empuja-chico-7.columns {
    margin-left: 61.29838%; }
    .empuja-chico-7.columns:first-child {
      margin-left: 59.42572%; }

  .chico-7.columns.centered {
    margin-left: 21.22347%; }

  .chico-8.columns {
    width: 64.79401%; }

  .empuja-chico-8.columns {
    margin-left: 69.78777%; }
    .empuja-chico-8.columns:first-child {
      margin-left: 67.91511%; }

  .chico-8.columns.centered {
    margin-left: 16.97878%; }

  .chico-9.columns {
    width: 73.12734%; }

  .empuja-chico-9.columns {
    margin-left: 78.27715%; }
    .empuja-chico-9.columns:first-child {
      margin-left: 76.40449%; }

  .chico-9.columns.centered {
    margin-left: 12.73408%; }

  .chico-10.columns {
    width: 81.46067%; }

  .empuja-chico-10.columns {
    margin-left: 86.76654%; }
    .empuja-chico-10.columns:first-child {
      margin-left: 84.89388%; }

  .chico-10.columns.centered {
    margin-left: 8.48939%; }

  .chico-11.columns {
    width: 89.79401%; }

  .empuja-chico-11.columns {
    margin-left: 95.25593%; }
    .empuja-chico-11.columns:first-child {
      margin-left: 93.38327%; }

  .chico-11.columns.centered {
    margin-left: 4.24469%; }

  .chico-12.columns {
    width: 98.12734%; }

  .empuja-chico-12.columns {
    margin-left: 103.74532%; }
    .empuja-chico-12.columns:first-child {
      margin-left: 101.87266%; }

  .chico-12.columns.centered {
    margin-left: 0%; } }
@media only screen and (max-width: 800px) {
  .medio-1.columns {
    width: 6.46067%; }

  .empuja-medio-1.columns {
    margin-left: 10.36205%; }
    .empuja-medio-1.columns:first-child {
      margin-left: 8.48939%; }

  .medio-1.columns.centered {
    margin-left: 46.69164%; }

  .medio-2.columns {
    width: 14.79401%; }

  .empuja-medio-2.columns {
    margin-left: 18.85144%; }
    .empuja-medio-2.columns:first-child {
      margin-left: 16.97878%; }

  .medio-2.columns.centered {
    margin-left: 42.44694%; }

  .medio-3.columns {
    width: 23.12734%; }

  .empuja-medio-3.columns {
    margin-left: 27.34082%; }
    .empuja-medio-3.columns:first-child {
      margin-left: 25.46816%; }

  .medio-3.columns.centered {
    margin-left: 38.20225%; }

  .medio-4.columns {
    width: 31.46067%; }

  .empuja-medio-4.columns {
    margin-left: 35.83021%; }
    .empuja-medio-4.columns:first-child {
      margin-left: 33.95755%; }

  .medio-4.columns.centered {
    margin-left: 33.95755%; }

  .medio-5.columns {
    width: 39.79401%; }

  .empuja-medio-5.columns {
    margin-left: 44.3196%; }
    .empuja-medio-5.columns:first-child {
      margin-left: 42.44694%; }

  .medio-5.columns.centered {
    margin-left: 29.71286%; }

  .medio-6.columns {
    width: 48.12734%; }

  .empuja-medio-6.columns {
    margin-left: 52.80899%; }
    .empuja-medio-6.columns:first-child {
      margin-left: 50.93633%; }

  .medio-6.columns.centered {
    margin-left: 25.46816%; }

  .medio-7.columns {
    width: 56.46067%; }

  .empuja-medio-7.columns {
    margin-left: 61.29838%; }
    .empuja-medio-7.columns:first-child {
      margin-left: 59.42572%; }

  .medio-7.columns.centered {
    margin-left: 21.22347%; }

  .medio-8.columns {
    width: 64.79401%; }

  .empuja-medio-8.columns {
    margin-left: 69.78777%; }
    .empuja-medio-8.columns:first-child {
      margin-left: 67.91511%; }

  .medio-8.columns.centered {
    margin-left: 16.97878%; }

  .medio-9.columns {
    width: 73.12734%; }

  .empuja-medio-9.columns {
    margin-left: 78.27715%; }
    .empuja-medio-9.columns:first-child {
      margin-left: 76.40449%; }

  .medio-9.columns.centered {
    margin-left: 12.73408%; }

  .medio-10.columns {
    width: 81.46067%; }

  .empuja-medio-10.columns {
    margin-left: 86.76654%; }
    .empuja-medio-10.columns:first-child {
      margin-left: 84.89388%; }

  .medio-10.columns.centered {
    margin-left: 8.48939%; }

  .medio-11.columns {
    width: 89.79401%; }

  .empuja-medio-11.columns {
    margin-left: 95.25593%; }
    .empuja-medio-11.columns:first-child {
      margin-left: 93.38327%; }

  .medio-11.columns.centered {
    margin-left: 4.24469%; }

  .medio-12.columns {
    width: 98.12734%; }

  .empuja-medio-12.columns {
    margin-left: 103.74532%; }
    .empuja-medio-12.columns:first-child {
      margin-left: 101.87266%; }

  .medio-12.columns.centered {
    margin-left: 0%; } }
@media only screen and (max-width: 1200px) {
  .grande-1.columns {
    width: 6.46067%; }

  .empuja-grande-1.columns {
    margin-left: 10.36205%; }
    .empuja-grande-1.columns:first-child {
      margin-left: 8.48939%; }

  .grande-1.columns.centered {
    margin-left: 46.69164%; }

  .grande-2.columns {
    width: 14.79401%; }

  .empuja-grande-2.columns {
    margin-left: 18.85144%; }
    .empuja-grande-2.columns:first-child {
      margin-left: 16.97878%; }

  .grande-2.columns.centered {
    margin-left: 42.44694%; }

  .grande-3.columns {
    width: 23.12734%; }

  .empuja-grande-3.columns {
    margin-left: 27.34082%; }
    .empuja-grande-3.columns:first-child {
      margin-left: 25.46816%; }

  .grande-3.columns.centered {
    margin-left: 38.20225%; }

  .grande-4.columns {
    width: 31.46067%; }

  .empuja-grande-4.columns {
    margin-left: 35.83021%; }
    .empuja-grande-4.columns:first-child {
      margin-left: 33.95755%; }

  .grande-4.columns.centered {
    margin-left: 33.95755%; }

  .grande-5.columns {
    width: 39.79401%; }

  .empuja-grande-5.columns {
    margin-left: 44.3196%; }
    .empuja-grande-5.columns:first-child {
      margin-left: 42.44694%; }

  .grande-5.columns.centered {
    margin-left: 29.71286%; }

  .grande-6.columns {
    width: 48.12734%; }

  .empuja-grande-6.columns {
    margin-left: 52.80899%; }
    .empuja-grande-6.columns:first-child {
      margin-left: 50.93633%; }

  .grande-6.columns.centered {
    margin-left: 25.46816%; }

  .grande-7.columns {
    width: 56.46067%; }

  .empuja-grande-7.columns {
    margin-left: 61.29838%; }
    .empuja-grande-7.columns:first-child {
      margin-left: 59.42572%; }

  .grande-7.columns.centered {
    margin-left: 21.22347%; }

  .grande-8.columns {
    width: 64.79401%; }

  .empuja-grande-8.columns {
    margin-left: 69.78777%; }
    .empuja-grande-8.columns:first-child {
      margin-left: 67.91511%; }

  .grande-8.columns.centered {
    margin-left: 16.97878%; }

  .grande-9.columns {
    width: 73.12734%; }

  .empuja-grande-9.columns {
    margin-left: 78.27715%; }
    .empuja-grande-9.columns:first-child {
      margin-left: 76.40449%; }

  .grande-9.columns.centered {
    margin-left: 12.73408%; }

  .grande-10.columns {
    width: 81.46067%; }

  .empuja-grande-10.columns {
    margin-left: 86.76654%; }
    .empuja-grande-10.columns:first-child {
      margin-left: 84.89388%; }

  .grande-10.columns.centered {
    margin-left: 8.48939%; }

  .grande-11.columns {
    width: 89.79401%; }

  .empuja-grande-11.columns {
    margin-left: 95.25593%; }
    .empuja-grande-11.columns:first-child {
      margin-left: 93.38327%; }

  .grande-11.columns.centered {
    margin-left: 4.24469%; }

  .grande-12.columns {
    width: 98.12734%; }

  .empuja-grande-12.columns {
    margin-left: 103.74532%; }
    .empuja-grande-12.columns:first-child {
      margin-left: 101.87266%; }

  .grande-12.columns.centered {
    margin-left: 0%; } }
@media only screen and (max-width: 1400px) {
  .extra-1.columns {
    width: 6.46067%; }

  .empuja-extra-1.columns {
    margin-left: 10.36205%; }
    .empuja-extra-1.columns:first-child {
      margin-left: 8.48939%; }

  .extra-1.columns.centered {
    margin-left: 46.69164%; }

  .extra-2.columns {
    width: 14.79401%; }

  .empuja-extra-2.columns {
    margin-left: 18.85144%; }
    .empuja-extra-2.columns:first-child {
      margin-left: 16.97878%; }

  .extra-2.columns.centered {
    margin-left: 42.44694%; }

  .extra-3.columns {
    width: 23.12734%; }

  .empuja-extra-3.columns {
    margin-left: 27.34082%; }
    .empuja-extra-3.columns:first-child {
      margin-left: 25.46816%; }

  .extra-3.columns.centered {
    margin-left: 38.20225%; }

  .extra-4.columns {
    width: 31.46067%; }

  .empuja-extra-4.columns {
    margin-left: 35.83021%; }
    .empuja-extra-4.columns:first-child {
      margin-left: 33.95755%; }

  .extra-4.columns.centered {
    margin-left: 33.95755%; }

  .extra-5.columns {
    width: 39.79401%; }

  .empuja-extra-5.columns {
    margin-left: 44.3196%; }
    .empuja-extra-5.columns:first-child {
      margin-left: 42.44694%; }

  .extra-5.columns.centered {
    margin-left: 29.71286%; }

  .extra-6.columns {
    width: 48.12734%; }

  .empuja-extra-6.columns {
    margin-left: 52.80899%; }
    .empuja-extra-6.columns:first-child {
      margin-left: 50.93633%; }

  .extra-6.columns.centered {
    margin-left: 25.46816%; }

  .extra-7.columns {
    width: 56.46067%; }

  .empuja-extra-7.columns {
    margin-left: 61.29838%; }
    .empuja-extra-7.columns:first-child {
      margin-left: 59.42572%; }

  .extra-7.columns.centered {
    margin-left: 21.22347%; }

  .extra-8.columns {
    width: 64.79401%; }

  .empuja-extra-8.columns {
    margin-left: 69.78777%; }
    .empuja-extra-8.columns:first-child {
      margin-left: 67.91511%; }

  .extra-8.columns.centered {
    margin-left: 16.97878%; }

  .extra-9.columns {
    width: 73.12734%; }

  .empuja-extra-9.columns {
    margin-left: 78.27715%; }
    .empuja-extra-9.columns:first-child {
      margin-left: 76.40449%; }

  .extra-9.columns.centered {
    margin-left: 12.73408%; }

  .extra-10.columns {
    width: 81.46067%; }

  .empuja-extra-10.columns {
    margin-left: 86.76654%; }
    .empuja-extra-10.columns:first-child {
      margin-left: 84.89388%; }

  .extra-10.columns.centered {
    margin-left: 8.48939%; }

  .extra-11.columns {
    width: 89.79401%; }

  .empuja-extra-11.columns {
    margin-left: 95.25593%; }
    .empuja-extra-11.columns:first-child {
      margin-left: 93.38327%; }

  .extra-11.columns.centered {
    margin-left: 4.24469%; }

  .extra-12.columns {
    width: 98.12734%; }

  .empuja-extra-12.columns {
    margin-left: 103.74532%; }
    .empuja-extra-12.columns:first-child {
      margin-left: 101.87266%; }

  .extra-12.columns.centered {
    margin-left: 0%; } }
/*************************** Footer ***************************/
/*************************** Medias ***************************/
/*************************** Menus ***************************/
/*************************** Single ***************************/
.contactForm .label {
  background-color: blue; }

/*# sourceMappingURL=mazorca.css.map */
