/// Theme enviroment map, helps with version control. Must be in sync with $core in core/_core in order for the framework to operate.
/// @since 0.0.1
$theme:	(
	core-version: '0.0.1',
	theme-name: 'test_gulp',
	version: '0.0.1'
	);
