/*
Error: File to import not found or unreadable: mixins/preConfigMixins/_clearfix.
       Load path: /Users/user/Wordpress/Pruebas/Mazorca/sass
        on line 19 of sass/cltvo-themes/_blank/_preConfigMixins.scss
        from line 16 of sass/cltvo-themes/_blank/cltvo-responsive-frmwk.scss

14: @charset "UTF-8";
15: 
16: @import "_preConfigMixins";
17: @import "_config";
18: @import "_functions";
19: 
20: 	//Css begins compling here
21: @import "_mixins";//
22: @import "_base";
23: @import "extras/_helpers";// 
24: @import "_elements";

Backtrace:
sass/cltvo-themes/_blank/_preConfigMixins.scss:19
sass/cltvo-themes/_blank/cltvo-responsive-frmwk.scss:16
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/import_node.rb:67:in `import'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/import_node.rb:28:in `imported_file'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/import_node.rb:37:in `css_import?'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:326:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/stack.rb:88:in `with_import'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/stack.rb:88:in `with_import'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:167:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:157:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:8:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/engine.rb:295:in `render_with_sourcemap'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/plugin/compiler.rb:328:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:252:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:290:in `initialize_adapter'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/vendor/listen/lib/listen/adapter.rb:299:in `start_poller'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/vendor/listen/lib/listen/adapter.rb:299:in `initialize'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/vendor/listen/lib/listen/adapter.rb:299:in `new'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/vendor/listen/lib/listen/adapter.rb:299:in `start_poller'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/vendor/listen/lib/listen/adapter.rb:101:in `start'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/vendor/listen/lib/listen/adapter.rb:109:in `start!'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:66:in `start!'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/plugin/compiler.rb:405:in `listen_to'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/plugin/compiler.rb:338:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/plugin.rb:108:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/plugin.rb:108:in `method_missing'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/exec/sass_scss.rb:384:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/../lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.4.18/bin/sass:13
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: mixins/preConfigMixins/_clearfix.\A        Load path: /Users/user/Wordpress/Pruebas/Mazorca/sass\A         on line 19 of sass/cltvo-themes/_blank/_preConfigMixins.scss\A         from line 16 of sass/cltvo-themes/_blank/cltvo-responsive-frmwk.scss\A \A 14: @charset \"UTF-8\";\A 15: \A 16: @import \"_preConfigMixins\";\A 17: @import \"_config\";\A 18: @import \"_functions\";\A 19: \A 20: 	//Css begins compling here\A 21: @import \"_mixins\";//\A 22: @import \"_base\";\A 23: @import \"extras/_helpers\";// \A 24: @import \"_elements\";"; }
